<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
          <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="/js/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/js/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/js/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/js/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="/js/assets/global/css/components-rounded.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/js/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="/css/layouts/layout4/layout.css" rel="stylesheet" type="text/css" />
    <link href="/css/layouts/layout4/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <!-- END THEME LAYOUT STYLES -->
    <!--<link rel="stylesheet"
          href="/public/css/admin.css"/>-->
    <script type="text/javascript"
            src="/js/jquery.js"
           ></script>
    <script type="text/javascript"
            src="/js/admin.js"
    ></script>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script id="languages_json" >{{ langs|raw }}</script>
    
    {% block head %}

    {% endblock %} 
    <link href="/public/css/layouts/layout4/custom.css" rel="stylesheet" type="text/css" />
    <script>


        {{global_js}}



        var gl_page_info =
        {
            pageName: '{{page_name}}',
            baseUrl : '{{base_url}}',

        };

    </script>
</head>
<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo {%if page_name == 'admin_login' %}login{% endif %}">

<!-- header -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">

        <!-- BEGIN LOGO -->

        <!-- END LOGO -->   
        {% block navbar %}{% endblock %}
    </div>
    <!-- /container -->
</div>
<!-- /Header -->
<div class="clearfix"> </div>


<div id="content"  class="page-container">
    {%if page_name != "admin_login"%}
            {% include('pages/blocks/sidebar.html') %}
    {% endif %}
    <div class="{%if page_name == 'admin_login' %}content{% else %}page-content-wrapper{% endif %}">
        <!-- BEGIN CONTENT BODY -->
        <div class="{%if page_name != "admin_login"%}page-content{% endif %}">
            <div class="">
                {% block content %}{% endblock %}
            </div>

            <div class="modals-wrapper"></div>
        </div>
    </div>
</div>
<footer class="text-center">

    {% include('pages/blocks/footer.html') %}


    <!-- END THEME LAYOUT SCRIPTS -->

    {% block footer %}
    {% endblock %}
</footer>

</body>
</html>