

/config/settings.inc.php
/config/config.inc.php
/.htaccess
/composer.lock
/composer.phar
/cache
/bin/composer
/composer-setup.php
/vendor
.sass-cache
node_modules
bower_components

public/media/product
public/media_cache/

