{% extends "layout.html" %}

{% block navbar %}
    {% include('pages/blocks/navbar.html') %}
{% endblock %}

{% block content %}
<div class="portlet light bordered">
    <a href="{{base_admin_url_lang() }}media/add" class="btn btn-success pull-right">Add an Media</a>
    <div class="portlet-title tabbable-line">
        <div class="caption caption-md">
            <i class="icon-globe theme-font hide"></i>
            <span class="caption-subject font-blue-madison bold uppercase">
                Media list
            </span>
        </div>
    </div>
    <div class="portlet">
        <div class="portlet-body flip-scroll">
            <table class="table table-bordered table-striped table-condensed flip-content">
                <thead class="flip-content">
                    <tr>
                        <th>Nom</th>
                        <th>Url</th>
                        <th>image</th>
                    </tr>
                </thead>
                <tbody>
                {% for media in medias %}
                    <tr>
                        <th>{{ media.name }}</th>
                        <th>{{base_url()}}/media/{{ media.name }}</th>
                        <th><img height="100px" src="{{base_url()}}/media/{{ media.name }}"/></th>
                        <th>
                            <a href="{{ base_admin_url_lang() }}media/remove/{{ media.id_media }}" class="btn btn-danger btn-xs">Delete</a>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}