{% import 'macros.twig' as m %}
<!DOCTYPE html>
<html>
<head>

    {% block head %}

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Original - Lifestyle Blog Template</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Style CSS -->
    <link rel="stylesheet" href="{{baseUrl}}style.css">



    <title>{% block title %}{% endblock %}</title>

    {% endblock %}
</head>
<body>
<!-- Preloader -->
<div id="preloader">
    <div class="preload-content">
        <div id="original-load"></div>
    </div>
</div>


            {% block headerbanner %}{% endblock %}


{% include 'block/newspopin.html'  %}
{% include 'block/newspopin.html'  %}
{% include 'block/header.html' %}

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-9">
            {% block content %}{% endblock %}
        </div>

        {% include 'block/sidebar.html'   with {'sidebarData':sidebarData}  %}


    </div>
    </div>
{% include 'block/footer.html' %}



<script src="{{baseUrl}}js/jquery/jquery-2.2.4.min.js"></script>
<script src="{{baseUrl}}js/popper.min.js"></script>
<script src="{{baseUrl}}js/bootstrap.min.js"></script>
<script src="{{baseUrl}}js/plugins.js"></script>
<script src="{{baseUrl}}js/active.js"></script>



</body>
</html>
