Options +FollowSymLinks
RewriteEngine On





RewriteRule ^bin - [L,NC]
RewriteRule ^css/ - [L,NC]
RewriteRule ^media/ - [L,NC]
RewriteRule ^dist/ - [L,NC]
RewriteRule ^bower_components/ - [L,NC]
RewriteRule ^js/ - [L,NC]
RewriteRule ^vendor/ - [L,NC]
RewriteRule ^(.*)$ index.php [NC,L]



