$icomoon-font-path: "/public/fonts/fastpasstours/fonts";

$fpt-camera: "\e906";
$fpt-chat: "\e907";
$fpt-check-bold: "\e908";
$fpt-check: "\e909";
$fpt-circle: "\e90a";
$fpt-clock: "\e90b";
$fpt-compass: "\e90c";
$fpt-cross: "\e90d";
$fpt-disc: "\e90e";
$fpt-dots-v: "\e90f";
$fpt-eye: "\e910";
$fpt-layers: "\e911";
$fpt-location: "\e912";
$fpt-map: "\e913";
$fpt-markers: "\e914";

