
<!-- Single Blog Area  -->
<div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1000ms">
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <div class="single-blog-thumbnail">
                <img src="{{baseUrl}}img/blog-img/3.jpg" alt="">
                <div class="post-date">
                    <a href="#">{{pub.getDateAdd()}}</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <!-- Blog Content -->
            <div class="single-blog-content">
                <div class="line"></div>
                <h4><a href="{{pub.getPostLink()}}" class="post-headline"> {{pub.getTitle()}}</a></h4>
                <p>  {{pub.getResume()}}</p>
                <div class="post-meta">
                    <p>By <a href="#">{{pub.getAuthorFirstName}}  {{pub.getAuthorLastName}}</a></p>
                    <p>3 comments</p>
                </div>
            </div>
        </div>
    </div>
</div>