<!-- ##### Sidebar Area ##### -->
<div class="col-12 col-md-4 col-lg-3">
    <div class="post-sidebar-area">



        <!-- Widget Area -->
        <div class="sidebar-widget-area">
            <h5 class="title">{{trans("Latest Posts")}}</h5>

            <div class="widget-content">

                {% for pub in sidebarData.lastPosts %}
                {% include 'block/item-block-sidebar.html'   with {'pub':pub}  %}
                {% endfor %}
                <!-- Single Blog Post -->




            </div>
        </div>

        <!-- Widget Area -->
    </div>
</div>
