<!-- ##### Sidebar Area ##### -->
<div class="col-12 col-md-4 col-lg-3">
    <div class="post-sidebar-area">

        <!-- Widget Area -->
        <div class="sidebar-widget-area">
            <form action="#" class="search-form">
                <input type="search" name="search" id="searchForm" placeholder="Search">
                <input type="submit" value="submit">
            </form>
        </div>



        <!-- Widget Area -->
        <div class="sidebar-widget-area">
            <h5 class="title">Latest Posts</h5>

            <div class="widget-content">

                {% for pub in sidebarData.lastPosts %}
                {% include 'block/item-block-sidebar.html'   with {'pub':pub}  %}
                {% endfor %}
                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex align-items-center widget-post">
                    <!-- Post Thumbnail -->
                    <div class="post-thumbnail">
                        <img src="http://openccblog.fr/img/blog-img/lp1.jpg" alt="">
                    </div>
                    <!-- Post Content -->
                    <div class="post-content">
                        <a href="#" class="post-tag">Lifestyle</a>
                        <h4><a href="#" class="post-headline">Party people in the house</a></h4>
                        <div class="post-meta">
                            <p><a href="#">12 March</a></p>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <!-- Widget Area -->
    </div>
</div>
