{% extends "layout.html" %}


{% block content %}

    <h5>{{trans('Password lost')}}</h5>
    <!-- Contact Form -->
    <div class="error">{{error}}</div>
    <div class="error">{{succes}}</div>
    <form class="login-form form form-vertical" method="post" action="{{base_admin_url_lang()}}/resetpassword/{% if link %}?link={{link}}{% endif%}" method="post">
        <h3 class="form-title font-green">Sign In</h3>
{% if link %}
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">password</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="password"  placeholder="password" name="password" /> </div>

        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">password verification</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="password"  placeholder="password2" name="password2" /> </div>
        <div class="form-actions">
            <button type="submit" name="resetpassword" class="btn green uppercase">{{ trans('send reset link') }}</button>

        </div>
        {%else%}
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Email</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text"  placeholder="Enter email" name="email" /> </div>
            <div class="form-actions">
            <button type="submit" name="sendEmail" class="btn green uppercase">{{ trans('send reset link') }}</button>

        </div>
{% endif%}
    </form>
{% endblock %}