{% extends "layout.html" %}



{% block content %}
  <!-- Single Blog Area  -->
  <div class="single-blog-area blog-style-2 mb-50">
    <!-- Blog Content -->
    <div class="single-blog-content">
      <div class="line"></div>
      <h4><a href="#" class="post-headline mb-0">{{title}}</a></h4>
      <div class="post-meta mb-50">
        <p>{{trans('By')}} <a href="#">{{authorFirstName}} {{authorLastName}}</a></p>
      </div>
        {{content | raw  }}




      <!-- Comment Area Start -->
      <div class="comment_area clearfix mt-70">
        <h5 class="title">{{trans("Comments")}}</h5>


        <ol>
          {% for comment in comments %}
          <!-- Single Comment Area -->
          <li class="single_comment_area">
            <!-- Comment Content -->
            <div class="comment-content d-flex">

              <!-- Comment Meta -->
              <div class="comment-meta">
                <a href="#" class="post-date">{{displayDate(comment.getDateAdd(), "LL")}}</a>
                <p><a href="#" class="post-author">{{comment.getUserFirstname()}} {{comment.getUserLastname()}}</a></p>
                <p>{{comment.getMessage()}}</p>
              </div>
            </div>

          </li>
          {% endfor %}

          <!-- Single Comment Area -->

        </ol>
      </div>
      {% if user  %}
      <div class="post-a-comment-area mt-70">
        <h5>{{trans("Leave a reply")}}</h5>
        <!-- Reply Form -->
        <form action="{{base_url_lang()}}comment" method="post">
          <input type="hidden" name="id_article" value="{{id_article}}">
          <div class="row">



            <div class="col-12">
              <div class="group">
                <textarea name="message" id="message" required></textarea>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>{{trans("Comment")}}</label>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn original-btn">{{trans("Reply")}}</button>
            </div>
          </div>
        </form>
      </div>
      {% else %}
       {{trans("You have to be log to comments")}}
      {% endif %}
      <p> </p>
    </div>
  </div>


{% endblock %}