{% extends "layout.html" %}
{% block headerbanner2 %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{siteName}}</h1>
          <span class="subheading">{{siteBaseLine}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

{% endblock %}


{% block content %}

{% for pub in articles %}
  {% include 'block/item-block.html'   with {'pub':pub}  %}

  {% else %}
      No articles found
{% endfor %}

<div class="clearfix">
  {% if prev != false %}
  <a class="btn btn-primary float-right" href="{{base_url()}}/?page={{prev}}">Prev Posts &rarr;</a>
  {% endif %}
  {% if next != false %}
  <a class="btn btn-primary float-right" href="{{base_url()}}/?page={{next}}">Older Posts &rarr;</a>
  {% endif %}
</div>


{% endblock %}