{% extends "layout.html" %}



{% block content %}

{% for pub in articles %}
  {% include 'block/item-block.html'   with {'pub':pub}  %}

  {% else %}
      {{trans('No articles found')}}
{% endfor %}

<div class="clearfix">

  {% if next != false %}
  <a class="btn btn-primary float-right" href="{{base_url_lang()}}category/{{ link_rewrite}}/?page={{next}}">{{trans("Older Posts")}} </a>
  {% endif %}
  {% if prev != false %}
  <a class="btn btn-primary float-right" href="{{base_url_lang()}}category/{{ link_rewrite}}/?page={{prev}}">{{trans("Prev Posts")}}</a>
  {% endif %}
</div>


{% endblock %}