{% extends "layout.html" %}



{% block content %}

{% for pub in articles %}
  {% include 'block/item-block.html'   with {'pub':pub}  %}

  {% else %}
      No articles found
{% endfor %}

<div class="clearfix">
  {% if prev != false %}
  <a class="btn btn-primary float-right" href="{{base_url()}}/?page={{prev}}">Prev Posts &rarr;</a>
  {% endif %}
  {% if next != false %}
  <a class="btn btn-primary float-right" href="{{base_url()}}/?page={{next}}">Older Posts &rarr;</a>
  {% endif %}
</div>


{% endblock %}