{% extends "layout.html" %}


{% block content %}


<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{message}}
            <div style="color:red">{{error}}</div>
            <form name="sentMessage" method="POST" id="contactForm" >
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>{{trans('Name')}}</label>
                        <input type="text" class="form-control" required placeholder="{{trans('Name')}}" name="name" required >
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>{{trans('Email Address')}}</label>
                        <input type="email" class="form-control" required placeholder="{{trans('Email Address')}}" name="email" required >
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>{{trans('Phone Number')}}</label>
                        <input type="tel" class="form-control" placeholder="{{trans('Phone Number')}}" name="phone" required >
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>{{trans('Message')}}</label>
                        <textarea rows="5" class="form-control" required placeholder="{{trans('Message')}}" name="message" required ></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="sendMessageButton">{{trans('Send')}}</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}