{% extends "layout.html" %}


{% block content %}

      {% for pub in listLastPub %}
        {% include 'block/item-block.html'   with {'pub':pub}  %}
      {% endfor %}

<div class="clearfix">
  {% if prev != false %}
  <a class="btn btn-primary float-right" href="{{base_url_lang()}}/?page={{prev}}">{{trans("Prev Posts")}}</a>
  {% endif %}
  {% if next != false %}
  <a class="btn btn-primary float-right" href="{{base_url_lang()}}/?page={{next}}">{{trans("Older Posts")}}</a>
  {% endif %}
</div>
{% endblock %}