{% extends "layout.html" %}


{% block content %}

<div class="contact-form">
    <h5>{{trans('Password lost')}}</h5>
    <!-- Contact Form -->
    <div class="error">{{error}}</div>
    <div class="error">{{succes}}</div>
    <form action="{{base_url_lang()}}/user/lostpassword?link={{link}}" method="post">
        <div class="row">

            <div class="col-12 col-md-6">
                <div class="group">
                    <input type="password" name="password" id="password" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>{{trans('Password')}}</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="group">
                    <input type="password" name="password2" id="password2" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>{{trans('Password verification')}}</label>
                </div>
            </div>


            <div class="col-12">
                <button type="submit" name="sendemail2" class="btn original-btn">{{trans('Reset my password')}}</button>
            </div>

        </div>
    </form>
</div>
{% endblock %}