{% extends "layout.html" %}


{% block content %}

<div class="contact-form">
    <h5>{{trans('Password lost')}}</h5>
    <!-- Contact Form -->
    <div class="error">{{error}}</div>
    <div class="error">{{succes}}</div>
    <form action="{{base_url_lang()}}/user/lostpassword" method="post">
        <div class="row">

            <div class="col-12 col-md-6">
                <div class="group">
                    <input type="email" name="email" id="email" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>{{trans('email')}}</label>
                </div>
            </div>



            <div class="col-12">
                <button type="submit" name="sendemail" class="btn original-btn">{{trans('login')}}</button>
            </div>

        </div>
    </form>
</div>
{% endblock %}