{% extends "layout.html" %}

{% block navbar %}
    {% include('pages/blocks/navbar.html') %}
{% endblock %}

{% block content %}
<div class="portlet light bordered">
    <a href="{{base_admin_url_lang() }}configuration/add" class="btn btn-success pull-right">Add an Configuration</a>
    <div class="portlet-title tabbable-line">
        <div class="caption caption-md">
            <i class="icon-globe theme-font hide"></i>
            <span class="caption-subject font-blue-madison bold uppercase">
                Configuration list
            </span>
        </div>
    </div>
    <div class="portlet">
        <div class="portlet-body flip-scroll">
            <table class="table table-bordered table-striped table-condensed flip-content">
                <thead class="flip-content">
                    <tr>
                        <th>Description</th>
                        <th>valeur</th>
                        <th>valeur traduit</th>
                        <th>nom interne</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for config in configurations %}
                    <tr>
                        <th>{{ config.description }}</th>
                        <th>{{ config.value }}</th>
                        <th>{{ config.value_lang }}</th>
                        <th>{{ config.key }}</th>
                        <th>
                            <a href="{{base_admin_url_lang() }}configuration/edit/{{ config.id_config }}" class="btn btn-default btn-xs">Edit</a>
                            <a href="{{ base_admin_url_lang() }}configuration/remove/{{ config.id_config }}" class="btn btn-danger btn-xs">Delete</a>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}